# Redirects
Redirect 301 /newsletter  https://valeriogalano.substack.com
Redirect 301 /newsletter/ https://valeriogalano.substack.com

# Blog articles moved to pensieriincodice.it
Redirect 301 /php/switch-to-mobile-tablet-or-other-layout-in-zend-framework-1-11/ https://pensieriincodice.it/blog/2011-12-12-switch-to-mobile-tablet-or-other-layout-in-zend-framework-1-11/
Redirect 301 /php/working-with-datetime-in-doctrine2-and-zend-framework-2/ https://pensieriincodice.it/blog/2013-03-12-working-with-datetime-in-doctrine2-and-zend-framework-2/
Redirect 301 /php/recaptcha-in-zend-framework-2-project-using-zendform-component/ https://pensieriincodice.it/blog/2013-03-15-recaptcha-in-zend-framework-2-project-using-zendform-component/
Redirect 301 /tutorials/come-installare-funambol-10-su-debian-wheezy/ https://pensieriincodice.it/blog/2013-05-22-come-installare-funambol-10-su-debian-wheezy/
Redirect 301 /tutorials/how-to-install-funambol-10-on-debian-wheezy/ https://pensieriincodice.it/blog/2013-05-22-how-to-install-funambol-10-on-debian-wheezy/
Redirect 301 /tutorials/creare-e-modificare-documenti-pdf-con-libreoffice/ https://pensieriincodice.it/blog/2013-05-24-creare-e-modificare-documenti-pdf-con-libreoffice/
Redirect 301 /tutorials/create-and-edit-pdf-documents-with-libreoffice/ https://pensieriincodice.it/blog/2013-05-24-create-and-edit-pdf-documents-with-libreoffice/
Redirect 301 /php/configurare-filtri-doctrine-2-in-zend-framework-2/ https://pensieriincodice.it/blog/2013-05-27-configurare-filtri-doctrine-2-in-zend-framework-2/
Redirect 301 /tutorials/get-latest-libreoffice-in-ubuntu/ https://pensieriincodice.it/blog/2013-05-27-get-latest-libreoffice-in-ubuntu/
Redirect 301 /php/setup-doctrine2-filters-in-zend-framework-2/ https://pensieriincodice.it/blog/2013-05-27-setup-doctrine2-filters-in-zend-framework-2/
Redirect 301 /news-e-approfondimenti/zend-framework-3-0-branch-started/ https://pensieriincodice.it/blog/2013-05-31-zend-framework-3-0-branch-started/
Redirect 301 /php/php-jobs-with-gearman-and-supervisor/ https://pensieriincodice.it/blog/2013-06-09-php-jobs-with-gearman-and-supervisor/
Redirect 301 /php/processi-php-con-gearman-e-supervisor/ https://pensieriincodice.it/blog/2013-06-09-processi-php-con-gearman-e-supervisor/
Redirect 301 /tutorials/resize-multiple-images-using-linux/ https://pensieriincodice.it/blog/2013-07-11-resize-multiple-images-using-linux/
Redirect 301 /tutorials/ridimensionare-un-gran-numero-di-immagini-con-linux/ https://pensieriincodice.it/blog/2013-07-11-ridimensionare-un-gran-numero-di-immagini-con-linux/
Redirect 301 /tutorials/fix-hibernation-after-swap-partition-resize/ https://pensieriincodice.it/blog/2013-08-05-fix-hibernation-after-swap-partition-resize/
Redirect 301 /tutorials/riattivare-ibernazione-dopo-il-ridimensionamento-della-partizione-swap/ https://pensieriincodice.it/blog/2013-08-05-riattivare-ibernazione-dopo-il-ridimensionamento-della-partizione-swap/
Redirect 301 /php/update-twitter-bootstrap-to-release-3-in-zend-framework-2/ https://pensieriincodice.it/blog/2013-08-10-update-twitter-bootstrap-to-release-3-in-zend-framework-2/
Redirect 301 /tutorials/setup-oracle-jdk-netbeans-environment-on-ubuntu/ https://pensieriincodice.it/blog/2013-08-30-setup-oracle-jdk-netbeans-environment-on-ubuntu/
Redirect 301 /tutorials/change-wordpress-username-using-phpmyadmin/ https://pensieriincodice.it/blog/2013-09-09-change-wordpress-username-using-phpmyadmin/
Redirect 301 /tutorials/delete-history-sparkleshare-server/ https://pensieriincodice.it/blog/2013-09-25-delete-history-sparkleshare-server/
Redirect 301 /tutorials/modificare-username-wordpress-utilizzando-phpmyadmin/ https://pensieriincodice.it/blog/2014-02-04-modificare-username-wordpress-utilizzando-phpmyadmin/
Redirect 301 /news-e-approfondimenti/tutti-con-la-testa-fra-le-nuvole-cloud/ https://pensieriincodice.it/blog/2014-02-06-tutti-con-la-testa-fra-le-nuvole-cloud/
Redirect 301 /news-e-approfondimenti/il-fenomeno-telegram-cosa-e-dovuto/ https://pensieriincodice.it/blog/2014-02-26-il-fenomeno-telegram-cosa-e-dovuto/
Redirect 301 /tutorials/connect-to-cisco-vpn-from-ubuntu-using-pcf-file/ https://pensieriincodice.it/blog/2014-04-13-connect-to-cisco-vpn-from-ubuntu-using-pcf-file/
Redirect 301 /news-e-approfondimenti/arriva-wordpress-3-9/ https://pensieriincodice.it/blog/2014-04-14-arriva-wordpress-3-9/
Redirect 301 /tutorials/accedere-ad-vpn-cisco-ubuntu-utilizzando-file-pcf/ https://pensieriincodice.it/blog/2014-04-17-accedere-ad-vpn-cisco-ubuntu-utilizzando-file-pcf/
Redirect 301 /news-e-approfondimenti/testi-fai-da-te-per-il-tuo-sito-web-meglio-di-no/ https://pensieriincodice.it/blog/2015-08-21-testi-fai-da-te-per-il-tuo-sito-web-meglio-di-no/
Redirect 301 /tutorials/print-multiple-files-in-linux/ https://pensieriincodice.it/blog/2015-12-14-print-multiple-files-in-linux/
Redirect 301 /news-e-approfondimenti/twitter-vola-sempre-piu-basso/ https://pensieriincodice.it/blog/2017-03-29-twitter-vola-sempre-piu-basso/
Redirect 301 /news-e-approfondimenti/duckduckgo-motore-ricerca-rispetta-la-tua-privacy/ https://pensieriincodice.it/blog/2017-04-05-duckduckgo-motore-ricerca-rispetta-la-tua-privacy/
Redirect 301 /news-e-approfondimenti/perche-netflix-abbandonato-le-stelle-pollici/ https://pensieriincodice.it/blog/2017-04-11-perche-netflix-abbandonato-le-stelle-pollici/
Redirect 301 /php/to-setup-translate-controller-plugin-zend-framework-3/ https://pensieriincodice.it/blog/2017-04-13-to-setup-translate-controller-plugin-zend-framework-3/
Redirect 301 /news-e-approfondimenti/google-burger-king-panini-privacy/ https://pensieriincodice.it/blog/2017-04-19-google-burger-king-panini-privacy/
Redirect 301 /news-e-approfondimenti/clicca-aiuta-salvare-la-vita-un-gattino/ https://pensieriincodice.it/blog/2017-04-30-clicca-aiuta-salvare-la-vita-un-gattino/
Redirect 301 /news-e-approfondimenti/notizie-false-conseguenze-vere/ https://pensieriincodice.it/blog/2017-05-03-notizie-false-conseguenze-vere/
Redirect 301 /news-e-approfondimenti/wannacry-attacco-globale-diffusa-superficialita/ https://pensieriincodice.it/blog/2017-05-29-wannacry-attacco-globale-diffusa-superficialita/
Redirect 301 /news-e-approfondimenti/le-fake-news-fanno-danni-lo-vogliamo-capire/ https://pensieriincodice.it/blog/2017-05-30-le-fake-news-fanno-danni-lo-vogliamo-capire/
Redirect 301 /php/to-inject-zend-service-manager-zf3-controllers/ https://pensieriincodice.it/blog/2017-06-07-to-inject-zend-service-manager-zf3-controllers/
Redirect 301 /php/building-zf3-composed-pages-using-nesting-view-models-forward-controller-plugin/ https://pensieriincodice.it/blog/2017-08-23-building-zf3-composed-pages-using-nesting-view-models-forward-controller-plugin/
Redirect 301 /news-e-approfondimenti/la-responsabilita-di-dire-no/ https://pensieriincodice.it/blog/2017-11-28-la-responsabilita-di-dire-no/
Redirect 301 /news-e-approfondimenti/perche-la-net-neutrality-ci-riguarda-tutti/ https://pensieriincodice.it/blog/2017-12-09-perche-la-net-neutrality-ci-riguarda-tutti/
Redirect 301 /post/2020-01-07-how-to-add-iubenda-prior-blocking-of-cookie-scripts-to-hugo-disqus-shortcode/ https://pensieriincodice.it/blog/2020-01-07-how-to-add-iubenda-prior-blocking-of-cookie-scripts-to-hugo-disqus-shortcode/
Redirect 301 /post/2020-02-11-continous-deploying-of-hugo-based-website-with-github-actions/ https://pensieriincodice.it/blog/2020-02-11-continous-deploying-of-hugo-based-website-with-github-actions/
Redirect 301 /post/2020-05-19-hello-world/ https://pensieriincodice.it/blog/2020-05-19-hello-world/
Redirect 301 /post/2020-08-31-quickly-setup-https-on-php-apache2-docker-container-with-self-signed-ssl-certificate/ https://pensieriincodice.it/blog/2020-08-31-quickly-setup-https-on-php-apache2-docker-container-with-self-signed-ssl-certificate/
Redirect 301 /post/2021-04-30-split-reduce-and-convert-pdf-to-jpeg-using-php-imagemagick/ https://pensieriincodice.it/blog/2021-04-30-split-reduce-and-convert-pdf-to-jpeg-using-php-imagemagick/
Redirect 301 /post/2022-03-19-how-to-setup-docker-container-with-legacy-php-5.6-and-xdebug/ https://pensieriincodice.it/blog/2022-03-19-how-to-setup-docker-container-with-legacy-php-5.6-and-xdebug/